.carousel {
    box-shadow: 0px 1px 10px white;
    z-index: 3;
}



.carousel-indicators {
    width: 100%;
    left: 0;
    display: flex;
    justify-content: center;
    gap: 4px;
}

.item {
    width: 100%;
    height: 490px;
}

.item img {
    width: 100%;
    height: 490px !important;
    object-fit: cover;
    background-position: center;
}

/* Images with id  */

#firstImg,
#secondImg {
    object-fit: cover;
}
