.fifthContainer {
    width: 92%;
    height: 500px;
    position: relative;
    ;
    margin-left: 4% !important;
    margin-top: 4% !important;
}

.fifthContainer::before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    background: url('https://wallpapers.com/images/hd/windows-11-4k-black-and-white-c05d9vyiscnq31uy.jpg') no-repeat center center/cover;
    z-index: -1;
}

#insideContainerTwo {
    width: 40%;
    position: relative;
    top: 12%;
    left: 5%;
}

#insideContainerTwo button {
    padding: 8px !important;
    width: 21.5%;
    background-color: rgb(104, 213, 246);
    font-family: 'Oswald', sans-serif;
    color: black;
    font-size: 1.4rem;
    border: 1px solid white;
    border-radius: 3px;
}

#upgradeTwo {
    font-size: 6rem;
}

.commonUpgrade {
    color: white;
    font-size: 3.8rem;
    font-family: 'Kanit', sans-serif;
}
